body {
	background-image: url(https://jamieastariblog.files.wordpress.com/2013/09/mandala_drawing_20_by_mandala_jim-d428d8e-1.jpg);
}
body {
	background-position: center; 
	background-repeat:no-repeat;
	background-size: 80%;
	}
	p {
		border:1px solid black;
	}
	#white {
		background-color: white;
		margin-left: 50px;
	}